/* Header */

.headerLink {
  color: #ffffff;
  font-weight: 400;
}
.headerLink:hover {
  color: #1AB188;
  font-weight: 400;
}
.stickyHeader {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #24333C;
  height: 70px;
  align-content: center;
  z-index: 1001;
}

/* Quiz */
.quizContainer {
  justify-content: center;
  padding-bottom: 80px;
}

.Container {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}
.chartsContainer {
  text-align: center;
  margin: 0 auto;
}

/* Card */
.CardBodyStyle {
  background-color: #24333C;
}
.CardHeaderStyle {
  color: #24333C;
  font-weight: 700;
  border: #24333C;
  border-style: solid;
}
.greenColor {
  color: #1AB188;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nav-link.active{
  color: #1AB188 !important;
}

.nav-tabs .nav-link {
  color: #1AB188 !important;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
